Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add code block language select (#2113)
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

update version to 0.0.0
  packages/remirror__extension-react-language-select/package.json
Due: prettier --write

set private to false
  packages/remirror__extension-react-language-select/package.json
Due: prettier --write

update readme
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
Due: prettier --write

update changeset
  .changeset/angry-lies-bathe.md
Due: none

run pnpm install
  packages/storybook-react/package.json
Due: prettier --write

run pnpm install
  pnpm-lock.yaml
Due: prettier --write

run pnpm fix
  .size-limit.json
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  tsconfig.json
  website/extension-examples/extension-code-block/with-language-select.tsx
Due: prettier --write, eslint --fix

add peerDependenciesMeta
  packages/remirror__extension-react-language-select/package.json
Due: prettier --write

Don't import remirror directly
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/src/language-select.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

run pnpm fix
  .size-limit.json
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
Due: prettier --write, eslint --fix

chore: tweak some files for new package (#2123)
  .changeset/angry-lies-bathe.md
  .size-limit.json
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  website/extension-examples/extension-code-block/with-language-select.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2124)
  .changeset/angry-lies-bathe.md
  packages/remirror/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-placeholder/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-text-color/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__styles/CHANGELOG.md
  packages/remirror__styles/package.json
  packages/remirror__theme/CHANGELOG.md
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore: set access to public in package.json
  packages/remirror__extension-react-language-select/package.json
Due: prettier --write

update script
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix: Yjs undoManager is not working properly after updating editor
  packages/remirror__extension-yjs/src/yjs-extension.ts
Due: prettier --write, eslint --fix

refactor!: move @linaria/core dependency from core-helpers to core this reduces dependencies for core-helpers as this package is often used without remirror/core
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/helpers.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/polite-kids-unite.md
Due: none

fix(core): fix imports and exports of cx function
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/index.ts
Due: prettier --write, eslint --fix

chore(core): fix import style
  packages/remirror__core/src/index.ts
Due: prettier --write, eslint --fix

chore: remove babel runtime from some packages - prosemirror-trailing-node - @remirror/core-constants - @remirror/core-helpers
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/eleven-students-think.md
Due: none

chore: remove babel runtime from some packages (#2133)
  .changeset/eleven-students-think.md
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(changeset): version update (#2135)
  .changeset/eleven-students-think.md
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/CHANGELOG.md
  packages/prosemirror-trailing-node/package.json
  packages/remirror/package.json
  packages/remirror__core-constants/CHANGELOG.md
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/CHANGELOG.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-types/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__messages/package.json
  packages/remirror__pm/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__styles/package.json
  packages/test-keyboard/package.json
  pnpm-lock.yaml
  support/actions/package.json
  support/package.json
  support/scripts/package.json
  support/templates/minimal-template/package.json
Due: prettier --write

Update polite-kids-unite.md
  .changeset/polite-kids-unite.md
Due: none

refactor: move @linaria/core dependency from core-helpers to core (#2131)
  .changeset/polite-kids-unite.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/helpers.ts
  packages/remirror__core/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add editable change event hook
  packages/remirror__extension-events/src/events-extension.ts
Due: prettier --write, eslint --fix

fix: plugins of tableExtension can be updated when editable has been changed
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add changeset file
  .changeset/grumpy-clocks-begin.md
Due: none

fix: update plugins of tableExtension when editable changes (#2132)
  .changeset/grumpy-clocks-begin.md
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): update dependencies
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  support/scripts/package.json
Due: prettier --write

fix(react-components): remove unnecessary dependency from @remirror/react-components
  .changeset/pretty-donkeys-crash.md
  packages/remirror__react-components/package.json
Due: prettier --write

feat(messages): extract the messages into JSON files
  packages/remirror__messages/en/all-messages.json
  packages/remirror__messages/en/core-messages.json
  packages/remirror__messages/en/core-utils-messages.json
  packages/remirror__messages/en/extension-annotation-messages.json
  packages/remirror__messages/en/extension-bidi-messages.json
  packages/remirror__messages/en/extension-blockquote-messages.json
  packages/remirror__messages/en/extension-bold-messages.json
  packages/remirror__messages/en/extension-callout-messages.json
  packages/remirror__messages/en/extension-code-block-messages.json
  packages/remirror__messages/en/extension-code-messages.json
  packages/remirror__messages/en/extension-columns-messages.json
  packages/remirror__messages/en/extension-emoji-messages.json
  packages/remirror__messages/en/extension-font-size-messages.json
  packages/remirror__messages/en/extension-heading-messages.json
  packages/remirror__messages/en/extension-history-messages.json
  packages/remirror__messages/en/extension-horizontal-rule-messages.json
  packages/remirror__messages/en/extension-italic-messages.json
  packages/remirror__messages/en/extension-list-messages.json
  packages/remirror__messages/en/extension-node-formatting-messages.json
  packages/remirror__messages/en/extension-paragraph-messages.json
  packages/remirror__messages/en/extension-strike-messages.json
  packages/remirror__messages/en/extension-sub-messages.json
  packages/remirror__messages/en/extension-sup-messages.json
  packages/remirror__messages/en/extension-tables-messages.json
  packages/remirror__messages/en/extension-text-case-messages.json
  packages/remirror__messages/en/extension-text-color-messages.json
  packages/remirror__messages/en/extension-text-highlight-messages.json
  packages/remirror__messages/en/extension-underline-messages.json
  packages/remirror__messages/en/extension-whitespace-messages.json
  packages/remirror__messages/en/react-component-messages.json
  packages/remirror__messages/package.json
  packages/remirror__messages/scripts/messages-to-json.ts
  packages/remirror__messages/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

fix: try to resolve isExternal error
  packages/remirror__core-utils/src/keyboard-utils.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__messages/src/index.ts
Due: prettier --write, eslint --fix

docs(storybook): add examples using different i18n libraries
  packages/storybook-react/package.json
  packages/storybook-react/stories/i18n/format-js-imperative.tsx
  packages/storybook-react/stories/i18n/format-js.stories.tsx
  packages/storybook-react/stories/i18n/format-js.tsx
  packages/storybook-react/stories/i18n/react-i18next.stories.tsx
  packages/storybook-react/stories/i18n/react-i18next.tsx
  packages/storybook-react/stories/i18n/remirror-i18n.stories.tsx
  packages/storybook-react/stories/i18n/remirror-i18n.tsx
  pnpm-lock.yaml
  website/extension-examples/i18n/format-js-imperative.tsx
  website/extension-examples/i18n/format-js.tsx
  website/extension-examples/i18n/react-i18next.tsx
  website/extension-examples/i18n/remirror-i18n.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
