Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update changelog
  .changeset/shaggy-eagles-repeat.md
Due: none

update jest-prosemirror
  .changeset/shaggy-eagles-repeat.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Due: prettier --write, eslint --fix

update test snapshots
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
Due: none

chore: update ProseMirror dependencies (#2317)
  .changeset/shaggy-eagles-repeat.md
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): update react to v18.3.1
  packages/create-context-state/package.json
  packages/multishift/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-renderer/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__react/package.json
  packages/remirror__styles/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(deps): update react to v18.3.1 (#2318)
  packages/create-context-state/package.json
  packages/multishift/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-renderer/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__react/package.json
  packages/remirror__styles/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(deps): update pnpm to v8.15.9
  package.json
Due: prettier --write

update lock
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update pnpm to v8.15.9 (#2322)
  package.json
Due: prettier --write

update package.json and remove patch
  package.json
  packages/remirror__extension-yjs/package.json
  patches/y-prosemirror@1.2.1.patch
Due: prettier --write

fix types
  packages/remirror__extension-yjs/src/yjs-extension.ts
Due: prettier --write, eslint --fix

run install
  pnpm-lock.yaml
Due: prettier --write

fix type check
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
Due: prettier --write, eslint --fix

fix: conditional renderOutsideEditor
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

feat: add open link button
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

refac: don't use updateReason to hide url input
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

feat: link highlight
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

refac: improve link highlight
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

fix: link menu buttons
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

refac: edit menu
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

refac: replace StringPositioner with TextHighlightExtension
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

feat: prevent floating menu in multi-line selection
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

fix: use the original typing for legacy command decorator
  packages/remirror__core/src/builtins/builtin-decorators.ts
Due: prettier --write, eslint --fix

fix: export LegacyExtensionDecorator type
  packages/remirror__core/src/builtins/builtin-decorators.ts
Due: prettier --write, eslint --fix

Create calm-paws-divide.md
  .changeset/calm-paws-divide.md
Due: none

fix: linting
  .changeset/calm-paws-divide.md
Due: none

fix: use the original typing for legacy command decorator (#2334)
  .changeset/calm-paws-divide.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Due: prettier --write, eslint --fix

fix: error when using YjsExtension with y-prosemirror version >1.2.4
  package.json
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  patches/y-prosemirror@1.2.1.patch
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): update dependencies
  support/actions/pnpm/action.yml
Due: prettier --write

chore(deps): update dependencies (#2341)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  support/actions/pnpm/action.yml
Due: prettier --write

Add changeset
  .changeset/spotty-planets-applaud.md
Due: none

chore: add .prettierignore
  .prettierignore
  package.json
Due: prettier --write

chore: add .prettierignore (#2344)
  .prettierignore
  package.json
Due: prettier --write

fix: fix error when using YjsExtension with y-prosemirror version >1.2.4 (#2339)
  .changeset/spotty-planets-applaud.md
  package.json
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  patches/y-prosemirror@1.2.1.patch
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

update node.js to v24
  .github/workflows/ci.yml
  support/actions/pnpm/action.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
