Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

set cache
  support/actions/pnpm/action.yml
Due: prettier --write

chore: simplify ci cache (#2031)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  support/actions/pnpm/action.yml
Due: prettier --write

Use tsup to rollup dts
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix tsup
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

update package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/ensure-cjs-filename.ts
Due: prettier --write, eslint --fix

add publishConfig
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

wip
  packages/jest-prosemirror/environment/package.json
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix subpackage publishConfig
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

Fix build
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix jsonEqual
  packages/remirror__cli/src/utils/write-package-json.ts
Due: prettier --write, eslint --fix

run prettier
  packages/a11y-status/package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/environment/package.json
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/jest-remirror/environment/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror/dom/package.json
  packages/remirror/extensions/package.json
  packages/remirror/icons/package.json
  packages/remirror/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__core-types/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__core/package.json
  packages/remirror__dev/package.json
  packages/remirror__dom/package.json
  packages/remirror__extension-annotation/package.json
  packages/remirror__extension-bidi/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-bold/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/formatter/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code/package.json
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-collaboration/package.json
  packages/remirror__extension-columns/package.json
Due: prettier --write

Update pnpm to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "Update pnpm to v8"
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update typescript to v5
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix typecheck
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-utils/src/core-utils.ts
Due: prettier --write, eslint --fix

Update storybook to v7
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Fix typecheck
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Due: prettier --write, eslint --fix

increase max memory
  .github/workflows/storybook.yml
Due: prettier --write

chore: update typescript to v5, storybook to v7 (#2034)
  .github/workflows/storybook.yml
  package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix typecheck
  package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__i18n/__tests__/plurals.spec.ts
  packages/remirror__pm/__tests__/pm-utils.spec.ts
  packages/remirror__react-hooks/__tests__/use-editor-focus.spec.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/__tests__/use-history.spec.tsx
  packages/remirror__react-hooks/__tests__/use-keymaps.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/remirror__react-hooks/__tests__/use-multi-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-suggest.spec.tsx
  packages/remirror__styles/__tests__/styles.spec.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/svgmoji@3.2.0.patch
  patches/w3c-keyname@2.2.6.patch
  patches/y-prosemirror@1.2.1.patch
  patches/y-webrtc@10.2.5.patch
  pnpm-lock.yaml
  support/tsconfig.base.json
Due: prettier --write, eslint --fix

update patch
  patches/svgmoji@3.2.0.patch
  pnpm-lock.yaml
Due: prettier --write

Patch react-use
  package.json
  patches/react-use@17.4.0.patch
  pnpm-lock.yaml
  support/jest/jest.framework.mjs
Due: prettier --write

run pnpm fix
  support/tsconfig.base.json
Due: prettier --write

fix pnpm api
  support/scripts/src/generate-api.ts
Due: prettier --write, eslint --fix

remove react-use
  package.json
  packages/multishift/package.json
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift.ts
  patches/react-use@17.4.0.patch
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

downgrade extract-domain
  packages/remirror__extension-link/package.json
  pnpm-lock.yaml
Due: prettier --write

update size-limit
  package.json
Due: prettier --write

update .size-limit.json
  .size-limit.json
  packages/remirror__core-types/package.json
  packages/remirror__types/package.json
Due: prettier --write

add changeset
  .changeset/lovely-bikes-move.md
Due: none

Update ci timeout
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Due: prettier --write

chore(eslint): fix react version setting (#2011)
  .eslintrc.js
Due: prettier --write, eslint --fix

fix(core): fix paste command on Firefox
  .changeset/thick-lizards-train.md
  packages/remirror__core/src/builtins/commands-extension.ts
Due: prettier --write, eslint --fix

chore: increase ci timeout
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
