Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: update loglevel arg in helper script
  support/scripts/src/helpers.ts
Due: prettier --write, eslint --fix

fix: update loglevel arg in helper script (#2278)
  support/scripts/src/helpers.ts
Due: prettier --write, eslint --fix

feat: Refactor tools into common component
  .changeset/plenty-dolls-pretend.md
  packages/remirror__react-ui/src/menus/code-block-format-code.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-utils.ts
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-format-code.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
Due: prettier --write, eslint --fix

fix: use composition for code block tools
  .changeset/rude-cars-laugh.md
  .size-limit.json
  packages/remirror__extension-code-block/__tests__/tsconfig.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/code-block-positioners.ts
  packages/remirror__extension-code-block/src/index.ts
  packages/remirror__extension-code-block/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-format-code.tsx
  website/extension-examples/extension-code-block/with-tools.tsx
Due: prettier --write, eslint --fix

feat: add code block formatter to react-ui (#2256)
  .changeset/rude-cars-laugh.md
  .size-limit.json
  packages/remirror__extension-code-block/__tests__/tsconfig.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/code-block-positioners.ts
  packages/remirror__extension-code-block/src/index.ts
  packages/remirror__extension-code-block/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-tools.tsx
Due: prettier --write, eslint --fix

chore: switch to release candidate builds
  .changeset/pre.json
Due: prettier --write

chore(changeset): version update (rc) (#2277)
  .changeset/pre.json
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-ui/CHANGELOG.md
  packages/remirror__react-ui/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix: do not exit formatting if `onClick` provided
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
Due: prettier --write, eslint --fix

chore: update styled-components to v6
  packages/remirror__styles/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove incorrect type declarations from styles
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/short-pants-burn.md
Due: none

chore: update styled-components to v6 (#2280)
  .changeset/short-pants-burn.md
  packages/remirror__styles/package.json
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

chore: exit pre-release mode
  .changeset/pre.json
Due: prettier --write

chore: remove references to obsolete extensions
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
Due: none

docs: update v3 announcement and migration guide
  docs/migration-v3.md
  website/blog/2024-07-31-announcement-v3.md
Due: none

fix: missing component display name
  docs/advanced/updating-editor-externally.md
Due: none

docs: add V3 announcement and migration guide (#2283)
  docs/advanced/updating-editor-externally.md
  docs/migration-v3.md
  website/blog/2024-07-31-announcement-v3.md
Due: none

fix: expose old version of decorators with legacy prefix
  .changeset/brave-suits-grab.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Due: prettier --write, eslint --fix

docs: update migration guide
  docs/migration-v3.md
  website/sidebar.cjs
Due: none

fix: refer to new decorators as Stage 3
  .changeset/brave-suits-grab.md
  docs/migration-v3.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Due: prettier --write, eslint --fix

docs: add a note about translations for @remirror/react-ui
  packages/remirror__react-ui/readme.md
  website/sidebar.cjs
Due: none

fix: expose old version of decorators with legacy prefix (#2285)
  .changeset/brave-suits-grab.md
  docs/migration-v3.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
  packages/remirror__react-ui/readme.md
  website/sidebar.cjs
Due: prettier --write, eslint --fix

chore(storybook-react[persistent-selection]) Fix wording
  packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
Due: prettier --write, eslint --fix

docs(changeset) Note typo fix in persistent-selection
  .changeset/cold-camels-breathe.md
Due: none

Fix FontWeightProperty in BoldExtension example readme
  packages/remirror__extension-bold/readme.md
Due: none

Typo and fix link for image extension api
  docs/extensions/image-extension.mdx
Due: none

refactor(test-keyboard): remove `@remirror/core-helpers`
  .changeset/short-shirts-retire.md
  packages/test-keyboard/__tests__/tsconfig.json
  packages/test-keyboard/package.json
  packages/test-keyboard/src/test-keyboard-utils.ts
  packages/test-keyboard/src/test-keyboard.ts
  packages/test-keyboard/src/tsconfig.json
  packages/test-keyboard/src/us-keyboard-layout.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update migration-v3.md to state getJSON instead of useSuggest
  docs/migration-v3.md
Due: none

Update link-extension.mdx
  docs/extensions/link-extension.mdx
Due: none

Override prismjs version to address vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(yjs-extension): add document key option to YjsExtension
  packages/remirror__extension-yjs/src/yjs-extension.ts
Due: prettier --write, eslint --fix

Create add-document-key-yjs-extension.md
  add-document-key-yjs-extension.md
Due: none

update package.json
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
Due: prettier --write

update lock
  pnpm-lock.yaml
Due: prettier --write

run pnpm dedupe
  pnpm-lock.yaml
Due: prettier --write

add changelog
  .changeset/shaggy-eagles-repeat.md
Due: none

fix typecheck
  packages/remirror__extension-react-component/src/react-node-view.tsx
Due: prettier --write, eslint --fix
