Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore: enable OIDC publishing
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
Due: prettier --write

update build
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
Due: prettier --write, eslint --fix

add concurrency 1
  package.json
Due: prettier --write

ignore rollup.config.js
  .eslintignore
Due: none

add comment
  .eslintignore
Due: none

chore: update pnpm to v9
  package.json
  pnpm-lock.yaml
Due: prettier --write

update eslint ignore
  .eslintignore
Due: none

chore: enable OIDC publishing (#2346)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  package.json
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
Due: prettier --write, eslint --fix

chore: update pnpm config
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: update pnpm config (#2347)
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

remove version lockfile
  package.json
Due: prettier --write

add plan
  PLAN.md
Due: none

PLAN
  PLAN.md
Due: none

update plan
  PLAN.md
Due: none

remove lockfile
  PLAN.md
  package.json
Due: prettier --write

remove plan.md
  PLAN.md
Due: none

update
  migrate-to-workspace.mjs
  verify-workspace.mjs
Due: none

install
  pnpm-lock.yaml
Due: prettier --write

fix: format package.json with prettier
  package.json
Due: prettier --write

chore(changeset): version update (#2349)
  .changeset/spotty-planets-applaud.md
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
Due: prettier --write

Adds mark propagation when creating nodes on paste-rules
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-prosemirror/src/jest-prosemirror-schema.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Due: prettier --write, eslint --fix

Changeset
  .changeset/eleven-trees-speak.md
Due: none

Fix Backspace deletion for React tables
  packages/remirror__extension-react-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Due: prettier --write, eslint --fix

Add changeset for React table backspace fix
  .changeset/quiet-tables-leave.md
Due: none

docs: announce maintenance mode
  readme.md
Due: none

docs: announce maintenance mode (#2354)
  readme.md
Due: none
