Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix(create-context-hook): fix bundled dts (#2077)
  .changeset/orange-moles-joke.md
  packages/create-context-state/src/create-context-hook.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2078)
  .changeset/orange-moles-joke.md
  packages/create-context-state/CHANGELOG.md
  packages/create-context-state/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(deps): update dependencies
  .changeset/tender-oranges-kiss.md
  package.json
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  patches/w3c-keyname@2.2.6.patch
  pnpm-lock.yaml
Due: prettier --write

update
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependencies (#2079)
  .changeset/tender-oranges-kiss.md
  package.json
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  patches/w3c-keyname@2.2.6.patch
  pnpm-lock.yaml
Due: prettier --write

fix(link-extesnion): remove click plugin test case and add event handler test case
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Due: prettier --write, eslint --fix

add changeset
  .changeset/pink-hornets-share.md
Due: none

fix(link-extension): remove duplicate click handler (#2076)
  .changeset/pink-hornets-share.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2083)
  .changeset/pink-hornets-share.md
  packages/remirror/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rename upload-extension to async-extension
  packages/remirror__core/src/builtins/async-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/async-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/async-extension/file-upload.ts
  packages/remirror__core/src/builtins/async-extension/file-uploader.ts
  packages/remirror__core/src/builtins/async-extension/index.ts
  packages/remirror__core/src/builtins/async-extension/upload-context.ts
  packages/remirror__core/src/builtins/async-extension/upload-extension.ts
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
Due: prettier --write, eslint --fix

WIP: before clean
  packages/remirror__core/src/builtins/async-extension/file-upload/file-upload.ts
  packages/remirror__core/src/builtins/async-extension/file-upload/file-uploader.ts
  packages/remirror__core/src/builtins/async-extension/file-upload/upload-context.ts
Due: prettier --write, eslint --fix

docs(storybook): add trailing node examples
  packages/storybook-react/stories/extension-trailing-node/basic.tsx
  packages/storybook-react/stories/extension-trailing-node/trailing-node.stories.tsx
  website/extension-examples/extension-trailing-node/basic.tsx
Due: prettier --write, eslint --fix

chore: ensure consistent pnpm-lock formatting
  .npmrc
Due: none

fix(mention-atom): fix partial matches if supported characters allow whitespace
  .changeset/moody-rules-suffer.md
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(react-hooks): fix type error on useMentionAtom
  packages/remirror__react-hooks/src/use-mention-atom.ts
Due: prettier --write, eslint --fix

chore: update changeset
  .changeset/moody-rules-suffer.md
Due: none

fix(storybook-react): prevent atom dropdowns being cropped
  packages/storybook-react/stories/react-hooks/use-mention-atom-styles.css
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
Due: prettier --write, eslint --fix

fix(react-components): FloatingWrapper rendered outside no longer causes a blur event on click
  .changeset/red-stingrays-itch.md
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

fix(mention-atom): fix partial replacements including whitespace (#2088)
  .changeset/moody-rules-suffer.md
  .changeset/red-stingrays-itch.md
  .npmrc
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-trailing-node/basic.tsx
  packages/storybook-react/stories/extension-trailing-node/trailing-node.stories.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom-styles.css
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-trailing-node/basic.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2090)
  .changeset/moody-rules-suffer.md
  .changeset/red-stingrays-itch.md
  packages/remirror/package.json
  packages/remirror__extension-mention-atom/CHANGELOG.md
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix duplicated export
  packages/prosemirror-paste-rules/src/index.ts
Due: prettier --write, eslint --fix

chore: fix duplicated export (#2091)
  packages/prosemirror-paste-rules/src/index.ts
Due: prettier --write, eslint --fix

feat: add beforeKeyhandler hook
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/src/builtins/keymap-extension.ts
Due: prettier --write, eslint --fix

fix: enable to remove the list which is after a table node
  packages/remirror__extension-list/src/list-commands.ts
Due: prettier --write, eslint --fix

fix bad merge
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Due: prettier --write, eslint --fix

update storybook
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Due: prettier --write, eslint --fix

check pos before return
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Due: prettier --write, eslint --fix

parse id
  packages/remirror__extension-file/src/file-extension.tsx
Due: prettier --write, eslint --fix

add changeset
  .changeset/quick-mirrors-unite.md
Due: none

fix(core): re-check upload placeholder position (#2100)
  .changeset/quick-mirrors-unite.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Due: prettier --write, eslint --fix

feat: add floatingui to replace popperjs
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add useFloatingPortal property
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

[CHORE] Update lingui to 4.2.0 version
  package.json
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-heading/src/heading-constants.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__i18n/package.json
  packages/remirror__messages/package.json
  packages/remirror__messages/src/extension-callout-messages.ts
  packages/remirror__messages/src/extension-columns-messages.ts
  packages/remirror__messages/src/extension-heading-messages.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-core/src/hooks/use-i18n.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/@lingui__detect-locale@4.2.0.patch
  pnpm-lock.yaml
  support/scripts/package.json
Due: prettier --write, eslint --fix

[CHORE] Update link to lingui site
  readme.md
Due: none

[CHORE] Updated the files generated by lingui
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
Due: prettier --write, eslint --fix

Added changeset for lingui bump
  .changeset/heavy-carpets-wash.md
Due: none

update extension in exmaple snippet
  docs/getting-started/create-manager.md
Due: none
