Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix(react-components): add wrapper to buttons to eliminate MUI tooltip error (#2023)
  .changeset/strong-bags-hunt.md
  packages/remirror__react-components/src/buttons/command-button.tsx
Due: prettier --write, eslint --fix

chore: increase ci timeout (#2036)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier --write

bug fix
  packages/remirror__core/src/builtins/commands-extension.ts
Due: prettier --write, eslint --fix

chore: update pnpm to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core): fix paste command on Firefox (#2035)
  .changeset/thick-lizards-train.md
  packages/remirror__core/src/builtins/commands-extension.ts
Due: prettier --write, eslint --fix

chore: update pnpm to v8 (#2037)
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(events-extension) - added cut event
  packages/remirror__extension-events/src/events-extension.ts
Due: prettier --write, eslint --fix

fix(theme): fix typing files
  .changeset/swift-years-wait.md
  packages/remirror__theme/package.json
  packages/remirror__theme/public/remirror-theme.d.ts
Due: prettier --write, eslint --fix

w
  .changeset/config.json
Due: prettier --write

update changeset
  .changeset/swift-years-wait.md
Due: none

run pnpm fix
  .changeset/config.json
Due: prettier --write

fix(theme): fix typing file (#2038)
  .changeset/config.json
  .changeset/swift-years-wait.md
  packages/remirror__theme/package.json
  packages/remirror__theme/public/remirror-theme.d.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2039)
  .changeset/swift-years-wait.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-placeholder/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-text-color/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__theme/CHANGELOG.md
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix(messages): fix typing file
  .changeset/eighty-dodos-promise.md
  packages/remirror__messages/package.json
  packages/remirror__messages/public/remirror-messages.d.ts
Due: prettier --write, eslint --fix

fix(messages): fix typing file (#2040)
  .changeset/eighty-dodos-promise.md
  packages/remirror__messages/package.json
  packages/remirror__messages/public/remirror-messages.d.ts
Due: prettier --write, eslint --fix

chore(docs) - added cut event in docs as well
  docs/hooks/use-editor-event.md
  docs/hooks/use-event.md
Due: none

docs: add changeset
  .changeset/lovely-horses-tease.md
Due: none

feat(extension-events): add cut event (#2042)
  .changeset/lovely-horses-tease.md
  docs/hooks/use-editor-event.md
  docs/hooks/use-event.md
  packages/remirror__extension-events/src/events-extension.ts
Due: prettier --write, eslint --fix

fix(core): export type `ClassName`
  .changeset/smart-seahorses-sort.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
Due: prettier --write, eslint --fix

fix(core): export type `ClassName` (#2046)
  .changeset/smart-seahorses-sort.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
Due: prettier --write, eslint --fix

chore: ts-eslint define path to project tsconfig
  .eslintrc.js
  package.json
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

disable selected warning to reduce noise
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
  packages/remirror__theme/src/utils.ts
Due: prettier --write, eslint --fix

restore prev md linting rules - testing
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix

restore parser option for md files
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix

enable md linting by default
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix

Added theme customization support for react-editors
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Due: prettier --write, eslint --fix

chore: fix renovate warning about internal package
  package.json
Due: prettier --write

chore: fix renovate warning about internal package (#2052)
  package.json
Due: prettier --write

chore: run pnpm fix
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Due: prettier --write, eslint --fix

docs: add changeset
  .changeset/ten-wolves-own.md
Due: none

update renovate config
  package.json
Due: prettier --write

feat: add theme customization support for react-editors (#2050)
  .changeset/ten-wolves-own.md
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Due: prettier --write, eslint --fix

update type-fest
  packages/remirror__types/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Due: prettier --write

fix types
  packages/remirror__types/src/index.ts
Due: prettier --write, eslint --fix
