Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

run pnpm fix
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

Fix CI
  support/actions/pnpm/action.yml
Due: prettier --write

Add workaround for namespace
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

rename function
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

Fix chainCommands
  packages/remirror__pm/src/commands.ts
Due: prettier --write, eslint --fix

Fix export
  packages/remirror__core/src/builtins/keymap-extension.ts
  packages/remirror__pm/src/commands.ts
Due: prettier --write, eslint --fix

Add changeset
  .changeset/wet-lizards-sniff.md
Due: none

chore: run pnpm fix
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Due: prettier --write

chore: enter v3 beta release
  .changeset/pre.json
  .github/workflows/publish-v3.yml
  .github/workflows/version.yml
Due: prettier --write

chore: trigger v3 beta release
  .changeset/calm-tools-explain.md
Due: none

chore: fix cyclic dependency
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix cyclic dependency (#2168)
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: skip storybook-react when building packages
  package.json
Due: prettier --write

chore(ci): enable turbo remote cache
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  .size-limit.json
  packages/remirror__extension-react-tables/__tests__/tsconfig.json
  packages/remirror__extension-react-tables/src/tsconfig.json
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Due: prettier --write

chore(ci): enable turbo remote cache (#2171)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  .size-limit.json
  packages/remirror__extension-react-tables/__tests__/tsconfig.json
  packages/remirror__extension-react-tables/src/tsconfig.json
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Due: prettier --write

chore: clean changeset
  .changeset/wet-lizards-sniff.md
Due: none

chore: update .eslintignore
  .eslintignore
Due: none

chore: run ci for branch v3
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): try to fix ci test
  support/actions/pnpm/action.yml
Due: prettier --write

chore: run ci for branch v3 (#2174)
  .github/workflows/ci.yml
Due: prettier --write

chore: cache more output files
  turbo.json
Due: prettier --write

chore: build jest-prosemirror
  package.json
Due: prettier --write

chore: run pnpm dedupe
  pnpm-lock.yaml
Due: prettier --write

chore: build testing
  package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/testing/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: fix test
  packages/jest-remirror/src/jest-remirror-validator.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__react-core/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__react-core/__tests__/core-node.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/portals.spec.tsx
  packages/remirror__react-core/__tests__/react-component-extension.spec.tsx
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
Due: prettier --write, eslint --fix

chore(ci): increase timeout-minutes
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Due: prettier --write

chore: run pnpm fix
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
Due: prettier --write, eslint --fix

chore: fix publish-v3 name
  .github/workflows/publish-v3.yml
Due: prettier --write

chore(ci): add publish-v3 workflow
  .github/workflows/publish-v3.yml
  .github/workflows/version.yml
Due: prettier --write

chore(ci): add concurrency
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
Due: prettier --write

chore(ci): add publish-v3 workflow (#2176)
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Due: prettier --write

chore: set publish branch to v3
  package.json
Due: prettier --write

chore(ci): add turborepo environment variables
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Due: prettier --write

chore(ci): add turborepo environment variables (#2177)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Due: prettier --write

feat(mention-atom): add leaf text for mention atom nodes
  .changeset/friendly-pears-promise.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Due: prettier --write, eslint --fix

chore: fix the build script for @remirror/messages and @remirror/theme
  packages/remirror__messages/package.json
  packages/remirror__theme/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
