Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore: fix the build script for @remirror/react
  package.json
  packages/remirror__react/package.json
Due: prettier --write

chore: add script `build:packages:force`
  package.json
Due: prettier --write

fix(pm): update ProseMirror dependencies to latest versions
  .changeset/clever-lions-breathe.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(pm): update ProseMirror dependencies to latest versions (#2192)
  .changeset/clever-lions-breathe.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: reorganise storybook and add changeset
  .changeset/three-schools-build.md
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
  packages/remirror__react-ui/src/providers/index.ts
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/remirror__react-ui/src/toolbar/base-toolbar.tsx
  packages/storybook-react/.storybook/preview.js
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-components/node-with-content.stories.tsx
  packages/storybook-react/stories/react-ui/find-replace.stories.tsx
  packages/storybook-react/stories/react-ui/floating-menu.stories.tsx
  packages/storybook-react/stories/react-ui/sample-content/huge.ts
  packages/storybook-react/stories/react-ui/sample-content/medium.ts
  packages/storybook-react/stories/react-ui/toolbar.stories.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: change @remirror/react-ui initial version
  packages/remirror__react-editors/package.json
  packages/remirror__react-ui/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add custom mui theme example
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  packages/storybook-react/stories/react-ui/sample-content/code-block.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(mention-atom): add leaf text for mention atom nodes (#2190)
  .changeset/friendly-pears-promise.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Due: prettier --write, eslint --fix

chore(core): remove deprecated extensionDecorator
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/priority.md
  packages/remirror__core-types/src/annotation-types.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Due: prettier --write, eslint --fix

fix(core): make extension decorator backward compatible (when called as function)
  .changeset/smart-garlics-bow.md
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Due: prettier --write, eslint --fix

chore: fix `watch:skip-build` script
  package.json
Due: prettier --write

feat: make `extension` decorator backwards compatible when called as function (#2191)
  .changeset/smart-garlics-bow.md
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/priority.md
  packages/remirror__core-types/src/annotation-types.ts
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Due: prettier --write, eslint --fix

docs: remove beta notice from file extension
  docs/extensions/file-extension.mdx
  packages/remirror__extension-file/readme.md
Due: none

fix: remove incorrect usage statement from `@remirror/react-ui` readme
  packages/remirror__react-ui/readme.md
Due: none

docs: add orphaned extension docs to the index page
  docs/extensions/index.md
Due: none

docs: add orphaned extension docs to the index page
  docs/extensions/index.md
  packages/remirror__react-components/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: tidy up (#2196)
  docs/extensions/file-extension.mdx
  docs/extensions/index.md
  packages/remirror__extension-file/readme.md
  packages/remirror__react-components/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/readme.md
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: downgrade build target
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

add changeset
  .changeset/quick-trainers-decide.md
Due: none

fix ESM export
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix: dependency order
  packages/remirror__cli/package.json
Due: prettier --write

update
  packages/remirror__cli/package.json
Due: prettier --write

chore: downgrade build target (#2197)
  .changeset/quick-trainers-decide.md
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: downgrade build target to support browsers since 2017
  .changeset/chilled-teachers-promise.md
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix: increase size limit on some packages
  .size-limit.json
  packages/create-context-state/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-find/package.json
Due: prettier --write

chore: downgrade build target to support browsers since 2017 (#2199)
  .changeset/chilled-teachers-promise.md
  .size-limit.json
  packages/create-context-state/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-find/package.json
Due: prettier --write, eslint --fix

fix: bump all packages to rebuild for browsers since 2017
  .changeset/lovely-bottles-compare.md
Due: none

fix: bump all packages to rebuild for browsers since 2017 (#2201)
  .changeset/lovely-bottles-compare.md
Due: none

fix(react-ui): language selector should be a component, not an extension
  .github/workflows/storybook.yml
  .size-limit.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/extension-positioner.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/remirror__theme/src/extension-positioner-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

fix(docs): tweak imports in custom-extension.md
  docs/getting-started/custom-extension.md
Due: none

fix(docs): add more imports to custom-extension.md
  docs/getting-started/custom-extension.md
Due: none

chore: add changeset
  .changeset/tender-bears-repeat.md
Due: none

fix: run pnpm fix
  docs/getting-started/custom-extension.md
Due: none

fix(docs): custom extension docs fix (#2204)
  docs/getting-started/custom-extension.md
Due: none
