Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: remove @lingui/core from @remirror/messages
  packages/remirror__messages/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove @remirror/i18n from @remirror/react-core
  packages/remirror__react-core/__tests__/tsconfig.json
  packages/remirror__react-core/package.json
  packages/remirror__react-core/src/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

test(react-core): ensure the i18nFormat function is provided by hook
  packages/remirror__react-core/__tests__/react-remirror.spec.tsx
Due: prettier --write, eslint --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Add changeset
  .changeset/quick-ears-argue.md
Due: none

fix: revert lingui extract to be done from the root folder
  lingui.config.js
  package.json
  packages/remirror__i18n/package.json
  pnpm-lock.yaml
  support/scripts/src/generate-intl.ts
Due: prettier --write, eslint --fix

Also accept prettier 2.8.8 as peer dep
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Due: prettier --write

Revert "Also accept prettier 2.8.8 as peer dep"
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Due: prettier --write

Install @prettier/sync
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Run pnpm fix
  .size-limit.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  support/scripts/src/generate-icons.ts
Due: prettier --write, eslint --fix

Fix testing import
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
Due: prettier --write, eslint --fix

fix test
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/formatter.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency prettier to v3 (#2139)
  .changeset/quick-ears-argue.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Due: prettier --write, eslint --fix

chore(deps): update prosemirorr dependencies
  .changeset/smooth-ravens-look.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update prosemirorr dependencies (#2141)
  .changeset/smooth-ravens-look.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write

Update extension.md - incorrect link
  docs/concepts/extension.md
Due: none

docs: correct link in extension.md (#2145)
  docs/concepts/extension.md
Due: none

fix: revert prettier back to v2.8.8
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Due: prettier --write, eslint --fix

Add changeset
  .changeset/tiny-points-sing.md
Due: none

Lint
  .size-limit.json
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
Due: prettier --write

fix: revert prettier back to v2.8.8 (#2149)
  .changeset/tiny-points-sing.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2150)
  .changeset/tiny-points-sing.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

docs(core-types): add descriptions for the new types
  packages/remirror__core-types/src/core-types.ts
Due: prettier --write, eslint --fix

chore: update changeset
  .changeset/pretty-donkeys-crash.md
Due: none

fix:click events cannot be obtained for individual string links
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Due: prettier --write, eslint --fix

chore: add changeset file
  .changeset/wild-days-tickle.md
Due: none

fix(extension-events): click events cannot be obtained for individual string links (#2144)
  .changeset/wild-days-tickle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Due: prettier --write, eslint --fix

[CHORE] Remove make-plural and remirror plurals
  docs/errors.md
  packages/remirror__i18n/__tests__/plurals.spec.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/plurals/package.json
  packages/remirror__i18n/readme.md
  packages/remirror__i18n/src/index.ts
  packages/remirror__i18n/src/plurals.ts
  packages/remirror__react-core/src/hooks/use-i18n.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

[CHORE] Remove depricated lingui config
  lingui.config.js
Due: prettier --write, eslint --fix

[CHORE] Applied `pnpm fix`
  packages/remirror__i18n/src/index.ts
  packages/remirror__react-core/src/hooks/use-i18n.ts
Due: prettier --write, eslint --fix

[CHORE] Add changeset
  .changeset/hungry-rules-scream.md
Due: none

chore: remove jsx-dom-cjs
  .changeset/cuddly-plants-suffer.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/jsx.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

run pnpm fix
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
Due: prettier --write, eslint --fix

fix dataset
  packages/remirror__extension-react-tables/src/utils/dom.ts
Due: prettier --write, eslint --fix

refactor
  packages/remirror__extension-react-tables/src/utils/dom.ts
Due: prettier --write, eslint --fix

fix test
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-tables/src/utils/dom.ts
Due: prettier --write, eslint --fix

Update packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
