Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

Update heavy-carpets-wash.md
  .changeset/heavy-carpets-wash.md
Due: none

don't need to use memo for simple calc
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

Run pnpm install
  pnpm-lock.yaml
Due: prettier --write

add changeset
  .changeset/thin-cars-protect.md
Due: none

chore(deps): update lingui to 4.2.0 version (#2099)
  .changeset/heavy-carpets-wash.md
  package.json
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-heading/src/heading-constants.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/package.json
  packages/remirror__messages/src/extension-callout-messages.ts
  packages/remirror__messages/src/extension-columns-messages.ts
  packages/remirror__messages/src/extension-heading-messages.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-core/src/hooks/use-i18n.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/@lingui__detect-locale@4.2.0.patch
  pnpm-lock.yaml
  readme.md
  support/scripts/package.json
Due: prettier --write, eslint --fix

Add RMR0021 to the document
  docs/errors.md
Due: none

feat(floating-menu): replace popperjs with floatingui (#2097)
  .changeset/thin-cars-protect.md
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: fix extension imports in example snippet (#2103)
  docs/errors.md
  docs/getting-started/create-manager.md
Due: none

fix(react): add @floating-ui/react into dependencies
  docs/getting-started/create-manager.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

add changeset
  .changeset/quick-fireants-search.md
Due: none

fix(react): add @floating-ui/react into dependencies (#2106)
  .changeset/quick-fireants-search.md
  docs/getting-started/create-manager.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(changeset): version update (#2107)
  .changeset/quick-fireants-search.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

add changeset
  .changeset/unlucky-scissors-provide.md
Due: none

fix
  packages/remirror__react-core/src/hooks/use-i18n.ts
Due: prettier --write, eslint --fix

update changeset
  .changeset/unlucky-scissors-provide.md
Due: none

Update changeset
  .changeset/unlucky-scissors-provide.md
Due: none

fix: fix lingui runtime crash (#2109)
  .changeset/unlucky-scissors-provide.md
  packages/remirror__react-core/src/hooks/use-i18n.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2110)
  .changeset/unlucky-scissors-provide.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

feat: add code block language select
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-react-code-block-language-select/CHANGELOG.md
  packages/remirror__extension-react-code-block-language-select/package.json
  packages/remirror__extension-react-code-block-language-select/readme.md
  packages/remirror__extension-react-code-block-language-select/src/code-block-language-select.tsx
  packages/remirror__extension-react-code-block-language-select/src/index.ts
  packages/remirror__extension-react-code-block-language-select/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/width-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

fix(react): respect floating-ui placement prop
  .changeset/curvy-jobs-jam.md
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

run pnpm fix
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

fix lint
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

fix(react): respect floating-ui placement prop (#2116)
  .changeset/curvy-jobs-jam.md
  packages/remirror__react-components/src/floating-menu.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2117)
  .changeset/curvy-jobs-jam.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix(react-core): each `useChainedCommands` call should refer to a new command chain
  .changeset/itchy-cows-tie.md
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__react-core/src/hooks/use-chained-commands.ts
Due: prettier --write, eslint --fix

fix(react-core): each `useChainedCommands` call should refer to a new command chain (#2118)
  .changeset/itchy-cows-tie.md
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__react-core/src/hooks/use-chained-commands.ts
Due: prettier --write, eslint --fix

change requests
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

fix import
  packages/remirror__extension-react-language-select/src/index.ts
Due: prettier --write, eslint --fix

remove unused
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
Due: prettier --write, eslint --fix

format
  packages/remirror__extension-react-language-select/readme.md
Due: none

feat(tables): toggle header cells only on the first row or column
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Due: prettier --write, eslint --fix

chore: remove unused variable
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
Due: prettier --write, eslint --fix

feat(tables): toggle header cells only on the first row or column (#2120)
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2121)
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix padding
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
Due: prettier --write, eslint --fix
