Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix(extension-file): allow `fileSize` to be string
  .changeset/nasty-impalas-search.md
  .vscode/settings.json
  packages/remirror__extension-file/src/file-extension.tsx
Due: prettier --write, eslint --fix

Update changeset
  .changeset/nasty-impalas-search.md
Due: none

fix(extension-file): allow `fileSize` to be string (#2269)
  .changeset/nasty-impalas-search.md
  .vscode/settings.json
  packages/remirror__extension-file/src/file-extension.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2270)
  .changeset/nasty-impalas-search.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix: run pnpm fix
  packages/remirror/CHANGELOG.md
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__react-editors/CHANGELOG.md
Due: none

fix: support older environments
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix: override typescript version used in build
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add satisfies to custom extension docs
  docs/getting-started/custom-extension.md
Due: none

fix: update formatjs version to trigger typescript change
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: try to specific typescript version in cli
  packages/remirror__cli/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: output type definitions correctly
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

fix: remove explicit validate properties
  .changeset/dirty-penguins-help.md
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Due: prettier --write, eslint --fix

fix: remove explicit validate properties (#2272)
  .changeset/dirty-penguins-help.md
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Due: prettier --write, eslint --fix

chore: forward-port validate property removal
  .changeset/dirty-suits-rush.md
Due: none

chore: meaningless change to trigger pipelines
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Due: prettier --write, eslint --fix

fix: change how the props are spread
  packages/storybook-react/stories/extension-positioner/basic.tsx
Due: prettier --write, eslint --fix

refactor(jest-prosemirror): append element to DOM before EditorView initialization in `createEditor` (#2258)
  .changeset/honest-socks-sip.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Due: prettier --write, eslint --fix

fix(docs): fix crash in positioner extension storybook (#2261)
  packages/storybook-react/stories/extension-positioner/basic.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2275)
  .changeset/honest-socks-sip.md
  package.json
  packages/jest-prosemirror/CHANGELOG.md
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  pnpm-lock.yaml
Due: prettier --write

Update extension.md (#2257)
  docs/concepts/extension.md
Due: none

chore: remove YjsExtension from `remirror/extensions`
  .changeset/warm-comics-eat.md
  docs/extensions/yjs-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  packages/storybook-react/stories/extension-yjs/basic.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: remove React Tables extension from `@remirror/react`
  .changeset/silver-clocks-wash.md
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  packages/remirror__react/package.json
  packages/remirror__react/src/index.ts
  packages/remirror__react/src/tsconfig.json
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Upgrade to prettier v3.2
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

chore: remove CodemirrorExtension from `remirror/extensions`
  .changeset/fifty-shoes-attend.md
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-codemirror5/basic.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: missing tsconfig reference
  packages/remirror__extension-markdown/__tests__/tsconfig.json
Due: prettier --write

chore: export cx from core-helpers using clsx
  .changeset/forty-rabbits-kick.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/package.json
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/helpers.ts
  packages/remirror__core/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: actually fix tsconfig for markdown ext
  packages/remirror__extension-markdown/__tests__/tsconfig.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-markdown/src/tsconfig.json
Due: prettier --write

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/formatter.ts
Due: prettier --write, eslint --fix

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
Due: prettier --write, eslint --fix

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  support/scripts/src/generate-icons.ts
Due: prettier --write, eslint --fix

fix: formatCodeBlock cannot be chained
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  packages/remirror__extension-code-block/src/code-block-extension.ts
Due: prettier --write, eslint --fix

test: use exposed formatter in unit tests
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
Due: prettier --write, eslint --fix

chore: update changeset
  .changeset/calm-kangaroos-change.md
Due: none

test: use a more realistic custom formatter
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
Due: prettier --write, eslint --fix

feat: upgrade to prettier v3.2 (#2255)
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

feat: add code formatter button extension
  .changeset/plenty-dolls-pretend.md
  packages/remirror__react-ui/src/menus/code-block-format-code.tsx
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-utils.ts
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-format-code.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-format-code.tsx
Due: prettier --write, eslint --fix
