Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(tables): add opt-in `Tab` and `Shift-Tab` keyboard shortcuts
  .changeset/weak-tigers-share.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Due: prettier --write, eslint --fix

feat(tables): add opt-in `Tab` and `Shift-Tab` keyboard shortcuts (#2206)
  .changeset/weak-tigers-share.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2207)
  .changeset/weak-tigers-share.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(core-constants): remove deprecated error code
  .changeset/mean-bugs-burn.md
  docs/errors.md
  packages/remirror__core-constants/src/error-constants.ts
Due: prettier --write, eslint --fix

chore(theme): remove deprecated functions
  .changeset/twelve-pumpkins-serve.md
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/utils.ts
Due: prettier --write, eslint --fix

chore: remove deprecated `isEnabled` command helper
  .changeset/modern-cougars-attack.md
  docs/concepts/extension.md
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__core/src/types.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
Due: prettier --write, eslint --fix

chore(types): remove depreacted types
  .changeset/sixty-olives-appear.md
  packages/remirror__types/src/index.ts
Due: prettier --write, eslint --fix

chore(jest-prosemirror): remove deprecated jumpTo function
  .changeset/chilled-singers-push.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Due: prettier --write, eslint --fix

chore(core): remove deprecated `getRemirrorJSON` helper
  .changeset/twelve-ravens-rhyme.md
  packages/remirror__core/src/builtins/helpers-extension.ts
Due: prettier --write, eslint --fix

chore(jest-remirror): remove deprecated start and end values
  .changeset/nice-llamas-boil.md
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jsdom-polyfills.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
Due: prettier --write, eslint --fix

chore(events): remove deprecated types
  .changeset/wild-feet-mate.md
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
Due: prettier --write, eslint --fix

chore(react-hooks): remove deprecated useSuggester alias
  .changeset/forty-clocks-share.md
  packages/remirror__react-hooks/src/use-suggest.ts
Due: prettier --write, eslint --fix

fix: reorganise changeset severity
  .changeset/chilled-singers-push.md
  .changeset/friendly-pears-promise.md
  .changeset/mean-bugs-burn.md
  .changeset/modern-cougars-attack.md
  .changeset/nice-llamas-boil.md
  .changeset/quick-trainers-decide.md
  .changeset/sixty-olives-appear.md
  .changeset/smart-garlics-bow.md
  .changeset/three-schools-build.md
  .changeset/twelve-pumpkins-serve.md
  .changeset/twelve-ravens-rhyme.md
  .changeset/wild-feet-mate.md
Due: none

fix(react-ui): language selector should be a component, not an extension (#2203)
  .changeset/tender-bears-repeat.md
  .github/workflows/storybook.yml
  .size-limit.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/extension-positioner.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/remirror__theme/src/extension-positioner-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

feat(preset-wysiwyg): remove deprecated search extension, replace with find extension
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
  .size-limit.json
  docs/extensions/find-extension.mdx
  docs/extensions/index.md
  docs/extensions/search-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-find/readme.md
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/__tests__/tsconfig.json
  packages/remirror__extension-search/package.json
  packages/remirror__extension-search/readme.md
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/tsconfig.json
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

feat(react-ui): add find button and ability to toggle replace
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__icons/src/all-icons.ts
  packages/remirror__icons/src/core-icons.ts
  packages/remirror__react-components/src/icons/all.ts
  packages/remirror__react-components/src/icons/core.ts
  packages/remirror__react-ui/src/buttons/find-button.tsx
  packages/remirror__react-ui/src/buttons/index.ts
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
  packages/remirror__react-ui/src/find-replace/replace-controller.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/extension-find/custom-components.tsx
  packages/storybook-react/stories/extension-find/search.stories.tsx
  packages/storybook-react/stories/extension-find/with-find-replace-component.tsx
  support/scripts/data/icons.json
  website/extension-examples/extension-find/custom-components.tsx
Due: prettier --write, eslint --fix

fix(positioner): fix bounds of editor positioner
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__react-ui/src/buttons/find-button.tsx
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
Due: prettier --write, eslint --fix

chore(storybook-react): rename file
  packages/storybook-react/stories/extension-find/find.stories.tsx
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/giant-jobs-obey.md
Due: none

chore: update changesets
  .changeset/friendly-pears-promise.md
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
Due: none

docs: create Remirror v3 beta announcement
  docs/migration-v3-beta.md
  website/blog/2023-11-20-announcement-v3-beta.md
Due: none

docs: create Remirror v3 beta announcement (#2214)
  docs/migration-v3-beta.md
  website/blog/2023-11-20-announcement-v3-beta.md
Due: none

fix(table-extension): apply correct attr.style
  packages/remirror__extension-tables/src/table-utils.ts
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/tough-ladybugs-marry.md
Due: none

Update tough-ladybugs-marry.md
  .changeset/tough-ladybugs-marry.md
Due: none

format
  .changeset/tough-ladybugs-marry.md
Due: none

fix(table-extension): apply correct attrs.style (#2221)
  .changeset/tough-ladybugs-marry.md
  packages/remirror__extension-tables/src/table-utils.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  packages/remirror__cli/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

Update node.js version
  .github/workflows/ci.yml
  support/actions/pnpm/action.yml
Due: prettier --write

update node.js
  support/actions/pr/action.yml
Due: prettier --write

run pnpm dedupe
  pnpm-lock.yaml
Due: prettier --write

Add tsconfig path to buildPackage function
  packages/remirror__cli/src/utils/build-package.ts
Due: prettier --write, eslint --fix

ci: downgrade runner to ubuntu-20.04
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/label-sponsors.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Due: prettier --write

chore(deps): update dependencies (#2223)
  .github/workflows/ci.yml
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
  support/actions/pr/action.yml
  website/package.json
Due: prettier --write, eslint --fix

chore(changeset): version update (#2222)
  .changeset/tough-ladybugs-marry.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix(table): allow the table to be added to a list item
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
