Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "!(support/api/**)*.{md,mdx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{packages,support}/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix typecheck
  packages/testing/src/index.ts
Due: prettier --write, eslint --fix

chore(deps): update jest (#2008)
  package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/remirror__core-utils/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core/__tests__/__snapshots__/remirror-manager.spec.tsx.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-mention/__tests__/__snapshots__/mention-extension.spec.ts.snap
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/testing/package.json
  packages/testing/src/index.ts
  packages/testing/src/react.tsx
  pnpm-lock.yaml
  support/scripts/package.json
Due: prettier --write, eslint --fix

fix(extension-yjs): fix missing peer warning
  .changeset/nasty-paws-study.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(extension-yjs): fix missing peer warning (#2009)
  .changeset/nasty-paws-study.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(changeset): version update (#2007)
  .changeset/clean-pianos-fly.md
  .changeset/nasty-paws-study.md
  package.json
  packages/multishift/CHANGELOG.md
  packages/multishift/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(eslint): fix react version setting
  .eslintrc.js
Due: prettier --write, eslint --fix

Fixed #2016: added index to findAndReplace command
  packages/storybook-react/stories/extension-find/basic.tsx
Due: prettier --write, eslint --fix

Fixed eslint issues
  packages/storybook-react/stories/extension-find/basic.tsx
Due: prettier --write, eslint --fix

fix(react-components): increase active index after replace
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/react-components/find-replace.stories.tsx
Due: prettier --write, eslint --fix

docs: add changeset
  .changeset/blue-crabs-knock.md
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
Due: prettier --write, eslint --fix

fix(react-components): increase active index after replace (#2017)
  .changeset/blue-crabs-knock.md
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/react-components/find-replace.stories.tsx
Due: prettier --write, eslint --fix

Added wrapper Box<span> to fix MUI tooltip error
  packages/remirror__react-components/src/buttons/command-button.tsx
Due: prettier --write, eslint --fix

Added changeset
  .changeset/strong-bags-hunt.md
  .size-limit.json
Due: prettier --write

Run pnpm install
  support/templates/extension-template/package.json
  support/templates/minimal-template/package.json
  support/templates/preset-template/package.json
Due: prettier --write

Run pnpm fix
  .size-limit.json
  package.json
  packages/multishift/src/multishift-constants.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-predicates.ts
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-tables/src/table-utils.ts
Due: prettier --write, eslint --fix

Fix type NodeViewMethod
  packages/remirror__core-types/src/core-types.ts
Due: prettier --write, eslint --fix

Fix type json.dependencies
  support/scripts/src/mutatate-packages.ts
Due: prettier --write, eslint --fix

Fix lint
  packages/remirror__core-types/src/core-types.ts
Due: prettier --write, eslint --fix

Fix type getPos
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Due: prettier --write, eslint --fix

docs: add changeest
  .changeset/sharp-ducks-help.md
Due: none

Update linaria to v4
  package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__theme/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Due: prettier --write

Fix defaultThemeVariables
  packages/remirror__theme/__tests__/theme-variables.spec.ts
  packages/remirror__theme/src/theme-variables.ts
  packages/remirror__theme/src/theme.ts
  packages/remirror__theme/src/tsconfig.json
  packages/tsconfig.json
Due: prettier --write, eslint --fix

Run pnpm fix
  packages/remirror__theme/src/tsconfig.json
  packages/tsconfig.json
Due: prettier --write

Install dep
  packages/remirror__theme/package.json
  pnpm-lock.yaml
Due: prettier --write

Fix linaria breaking API
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

Fix test CollaborationOptions
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Due: prettier --write, eslint --fix

Fix test link
  packages/remirror__extension-link/src/link-extension.ts
Due: prettier --write, eslint --fix

Fix lint
  packages/remirror__theme/package.json
Due: prettier --write

Downgrade lib0 to 0.2.61
  package.json
  pnpm-lock.yaml
Due: prettier --write

Don't update y-prosemirror range
  package.json
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Due: prettier --write

Update lib0 the the latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove node.js v14 from CI
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Due: prettier --write

split unit test
  .github/workflows/ci.yml
Due: prettier --write

run pnpm fix
  .github/workflows/ci.yml
Due: prettier --write

chore: simplify ci cache
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  support/actions/pnpm/action.yml
Due: prettier --write

change name
  support/actions/pnpm/action.yml
Due: prettier --write

fix
  support/actions/pnpm/action.yml
Due: prettier --write

remove .pnpm-store/
  .eslintignore
  .gitignore
  support/actions/pnpm/action.yml
Due: prettier --write
