Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: apply html sanitizer on markdowntohtml output
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Due: prettier --write, eslint --fix

add-changeset
  .changeset/twenty-yaks-brake.md
Due: none

fix: remove the default htmlSanitizer
  packages/remirror__extension-markdown/src/markdown-extension.ts
  packages/remirror__extension-markdown/src/markdown-utils.ts
Due: prettier --write, eslint --fix

docs: update changeset
  .changeset/twenty-yaks-brake.md
Due: none

fix(markdown): apply html sanitizer on markdownToHtml output (#2237)
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-extension.ts
  packages/remirror__extension-markdown/src/markdown-to-html.ts
  packages/remirror__extension-markdown/src/markdown-utils.ts
Due: prettier --write, eslint --fix

chore: update changeset file level
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Due: prettier --write, eslint --fix

chore: update changeset file level (#2239)
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2238)
  .changeset/twenty-yaks-brake.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

Fix "edit-dialog" on "extension-link" storybook
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Due: prettier --write, eslint --fix

refactor(trailing-node): remove @remirror/core-helpers
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/__tests__/tsconfig.json
  packages/prosemirror-trailing-node/package.json
  packages/prosemirror-trailing-node/src/trailing-node-plugin.ts
  packages/prosemirror-trailing-node/src/tsconfig.json
Due: prettier --write, eslint --fix

update pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

update changeset
  .changeset/young-seahorses-listen.md
Due: none

refactor(trailing-node): remove `@remirror/core-helpers` (#2245)
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/__tests__/tsconfig.json
  packages/prosemirror-trailing-node/package.json
  packages/prosemirror-trailing-node/src/trailing-node-plugin.ts
  packages/prosemirror-trailing-node/src/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(changeset): version update (#2247)
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/CHANGELOG.md
  packages/prosemirror-trailing-node/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docs): correct jest-remirror reference
  packages/jest-prosemirror/readme.md
Due: none

fix(docs): correct jest-remirror reference (#2249)
  packages/jest-prosemirror/readme.md
Due: none

feat: Upgrade to prettier v3.2
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Due: prettier --write, eslint --fix

feat: Add code formatter button extension
  .size-limit.json
  packages/remirror__extension-react-format-code/CHANGELOG.md
  packages/remirror__extension-react-format-code/package.json
  packages/remirror__extension-react-format-code/readme.md
  packages/remirror__extension-react-format-code/src/format-code.tsx
  packages/remirror__extension-react-format-code/src/index.ts
  packages/remirror__extension-react-format-code/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-formatter.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  website/extension-examples/extension-code-block/with-formatter.tsx
Due: prettier --write, eslint --fix

Add changeset
  .changeset/calm-kangaroos-change.md
Due: none

Add changeset
  .changeset/plenty-dolls-pretend.md
Due: none

Peer dependency and changeset updates
  .changeset/calm-kangaroos-change.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Due: prettier --write

Update extension.md
  docs/concepts/extension.md
Due: none

refactor(jest-prosemirror): append element to DOM before EditorView initialization in `createEditor`
  .changeset/honest-socks-sip.md
  .size-limit.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Due: prettier --write, eslint --fix

fix(docs): fix crash in positioner extension storybook
  packages/storybook-react/stories/extension-positioner/basic.tsx
Due: prettier --write, eslint --fix

fix: bump ProseMirror packages to latest versions
  .changeset/spotty-carpets-lick.md
  .size-limit.json
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: add validate attributes
  .changeset/dirty-buses-enjoy.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Due: prettier --write, eslint --fix

fix: fix tests
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Due: prettier --write, eslint --fix

fix: downgrade @remirror/pm update from minor to patch
  .changeset/spotty-carpets-lick.md
Due: none

fix: downgrade @remirror/pm update from minor to patch (#2267)
  .changeset/spotty-carpets-lick.md
Due: none

chore: correct typo
  .changeset/spotty-carpets-lick.md
Due: none

Update .changeset/spotty-carpets-lick.md
  .changeset/spotty-carpets-lick.md
Due: none

chore: correct typo (#2268)
  .changeset/spotty-carpets-lick.md
Due: none

fix: bump to an version of esbuild that supports decorators
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/giant-feet-live.md
Due: none

chore: bump all packages for next beta
  .changeset/loud-points-marry.md
Due: none

fix: audit errors
  packages/remirror__messages/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: actually fix audit error
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
