Repository remirror/remirror: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix types
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Due: prettier --write, eslint --fix

run pnpm fix
  packages/remirror__types/src/index.ts
Due: prettier --write, eslint --fix

chore(deps): update type-fest to v3 (#2053)
  package.json
  packages/remirror__types/package.json
  packages/remirror__types/src/index.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Due: prettier --write, eslint --fix

chore: ignore some pure ESM dependencies for renovate
  package.json
Due: prettier --write

chore: ignore some pure ESM dependencies for renovate (#2055)
  package.json
Due: prettier --write

chore(changeset): version update (#2054)
  .changeset/ten-wolves-own.md
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore(deps): update rollup to v3
  package.json
  packages/remirror__messages/package.json
  packages/remirror__theme/package.json
  pnpm-lock.yaml
Due: prettier --write

update rollup config
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
Due: prettier --write, eslint --fix

chore(deps): update rollup to v3 (#2058)
  package.json
  packages/remirror__messages/package.json
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/package.json
  packages/remirror__theme/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(react-hooks): fix useEditorFocus hook
  packages/remirror__react-hooks/src/use-editor-focus.ts
Due: prettier --write, eslint --fix

fix build
  packages/remirror__cli/src/utils/run-command.ts
Due: prettier --write, eslint --fix

update test snapshot
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
Due: none

fix lint
  .eslintrc.js
Due: prettier --write, eslint --fix

try detached:true
  packages/remirror__cli/src/utils/run-command.ts
Due: prettier --write, eslint --fix

try shell: true
  packages/remirror__cli/src/utils/run-command.ts
Due: prettier --write, eslint --fix

try inherit
  packages/remirror__cli/src/utils/run-command.ts
Due: prettier --write, eslint --fix

try remove run-p
  package.json
Due: prettier --write

try remove shell: true
  packages/remirror__cli/src/utils/run-command.ts
Due: prettier --write, eslint --fix

fix(paste-rules): don't replace non-text block
  .changeset/clean-dragons-reply.md
  packages/prosemirror-paste-rules/src/index.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Due: prettier --write, eslint --fix

fix test
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Due: prettier --write, eslint --fix

fix(react-tables): The position of the react-tables component is incorrect.
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Due: prettier --write, eslint --fix

docs: add changeset
  .changeset/sharp-foxes-sing.md
Due: none

docs: update changeset
  .changeset/sharp-foxes-sing.md
Due: none

fix(react-hooks): call useEditorFocus when blurring (#2062)
  .changeset/sharp-foxes-sing.md
  packages/remirror__react-hooks/src/use-editor-focus.ts
Due: prettier --write, eslint --fix

docs: add changeset
  .changeset/twenty-pumas-rhyme.md
Due: none

fix(react-tables): replace table with correct positions (#2068)
  .changeset/twenty-pumas-rhyme.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Due: prettier --write, eslint --fix

chore(changeset): version update (#2069)
  .changeset/sharp-foxes-sing.md
  .changeset/twenty-pumas-rhyme.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Fix exported types in publishConfig in create-context-state
  packages/create-context-state/package.json
Due: prettier --write

fix(link): disable link click handler when contenteditable is false
  packages/remirror__extension-link/src/link-extension.ts
Due: prettier --write, eslint --fix

fix(codeBlock): remove isolating from codeBlock
  packages/remirror__extension-code-block/src/code-block-extension.ts
Due: prettier --write, eslint --fix

Create hip-mugs-report.md
  .changeset/hip-mugs-report.md
Due: none

Create six-tips-learn.md
  .changeset/six-tips-learn.md
Due: none

format
  .changeset/hip-mugs-report.md
Due: none

format
  .changeset/six-tips-learn.md
Due: none

fix(link): disable link click handler when contenteditable is false (#2072)
  .changeset/hip-mugs-report.md
  packages/remirror__extension-link/src/link-extension.ts
Due: prettier --write, eslint --fix

fix(code-block): remove isolating from codeBlock (#2073)
  .changeset/six-tips-learn.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
Due: prettier --write, eslint --fix

chore(changeset): version update (#2074)
  .changeset/hip-mugs-report.md
  .changeset/six-tips-learn.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

fix(link-extension): remove duplicate click handler
  packages/remirror__extension-link/src/link-extension.ts
Due: prettier --write, eslint --fix

fix(create-context-hook): fix bundled dts
  .changeset/orange-moles-joke.md
  packages/create-context-state/src/create-context-hook.tsx
Due: prettier --write, eslint --fix

add changeset
  .changeset/orange-moles-joke.md
Due: none

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: *.{json,yml,yaml})) or (any of: {packages,support}/**/*.{ts,tsx,js})
  eslint --fix: (any of: **/*.js) or (any of: {packages,support}/**/*.{ts,tsx,js})
